{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-color-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home-view' %}"><img src="{% static 'general/img/logo.png' %}" width="20%"
                alt="">&nbspHEALING</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Área do paciente
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'home-view' %}">Home</a></li>
                        <li><a class="dropdown-item" href="{% url 'patient-medical-appointments-view' %}">Minhas consultas</a></li>
                    </ul>
                </li>
                {% if is_doctor %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Área do médico
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'open-schedules-view' %}">Abrir horários</a></li>
                        <li><a class="dropdown-item" href="{% url 'doctors-medical-appointments-view' %}">Suas consultas</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register-doctor-view' %}">Sou médico</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="d-left">
            {% if user.is_authenticated %}
                <a href="{% url 'logout-view' %}">
                    <button class="btn btn-danger"><i class="fa-solid fa-delete-left"></i> Sair</button>
                </a>
            {% else %}
                <a href="{% url 'login-view' %}">
                    <button class="btn btn-success"><i class="fa-solid fa-right-to-bracket"></i> Entrar</button>
                </a>
            {% endif %}
        </div>
    </div>
</nav>