{% extends "base/base.html" %}
{% load static %}
{% block 'title' %}My Medical Appointments{% endblock 'title' %}

{% block 'head' %}

    <link rel="stylesheet" href="{% static 'general/css/table_medical_appointments.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

{% endblock 'head' %}

{% block 'content' %}
{% include "partials/navbar.html" %}


    <div class="container mb-5">
        <br>
        <h2><span class="color-dark">Suas consultas</span></h2>

        <form action="{% url 'patient-medical-appointments-view' %}" method="GET">
            <div class="row">
                <div class="col-md">
                    <input type="text" name="specialties" id="" class="form-control shadow-main-color" placeholder="Especialidades médias">
                </div>
                <div class="col-md">
                    <input type="date" name="date" id="" class="form-control shadow-main-color">

                </div>
                <div class="col-md">
                    <input type="submit" value="Filtrar" class="btn btn-dark-color-outline">
                </div>
            </div>
        </form>

        <br>
        {% if medical_appointments %}
            <div class="table-medical-appointments">
                <div class="col-9">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Médico</th>
                        <th scope="col">Status</th>
                        <th scope="col">Data</th>
                        <th scope="col">Acções</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for medical_appointment in medical_appointments  %}
                            <tr>
                                <td>Dr(a). {{medical_appointment.open_date.doctor.user.username}}</a></td>
                                <td>{{medical_appointment.get_status_display}}</td>
                                <td>{{medical_appointment.open_date.date}}</td>
                                <td>
                                    <a href="{% url 'medical-appointment-view' medical_appointment.id %}">
                                        <button class="btn">Abrir consulta</button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        {% else %}
            <div>
                <h2 class="text-center text-danger mt-5">Não foram encontradas as consultas</h2>
            </div>
        {% endif %}


    </div>

{% endblock 'content' %}