.navbar{
    height: 110px;
    border-bottom: 14px solid var(--main-color);
    background-color: white!important;
    color: #000!important;
    padding: 2%;
}

.navbar .navbar-brand span{
    font-size: 20pt;
}

.navbar .navbar-items span{
    border-bottom: 4px solid var(--dark-color);
}
.navbar .navbar-items a{
    color: #000;
    margin-left: 2%;
    transition: 0s all;
}
.navbar .navbar-items a:hover{
    border-bottom: 4px solid var(--dark-color);
    transition: ease-out all .1s; 
    -moz-transition: ease-in-out all .4s;
    -webkit-transition: ease-in-out all .4s;
}

#slideshow .slide{
    display: none;  
} 

#slideshow .slide img{
   width: 100%;
   height: 100%;
   position: absolute;
    
}
#slideshow .slide .active{
    display: block;
}  